{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}
{% block blogactive %} active {% endblock blogactive %} 


{% block body %}
<div class="container my-3">
    <h2>Search results : </h2>
        {% if allPosts|length < 1 %}
   <p>No search results</p>
    Your search query : <b>{{query}}</b> did not match any documents. <br>
    Suggestions:
    <ul>
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try more general keywords.</li>
   <li> Try fewer keywords.</li>
   <li> Try different keywords.</li>
    </li>
    </ul>


    {% endif %}
    <div class="container my-4">
        {% for post in allPosts  %}
        <div class="post mt-4 h-75 bg-light shadow-sm shadow p-3">
          <div class="mb-1 text-primary">{{post.timeStamp}}</div>
          <a href="/blog/{{post.slug}}"><h3 class="text-dark">{{post.title}}</h3></a>
          <p class="lead text-secondary">{{post.content| truncatechars:120}}</p>
          <hr/>
          <p class="text-dark float-right mr-auto">Author: {{post.author}}</p>
          <a class="btn btn-sm btn-primary" href="/blog/{{post.slug}}" role="button">Read more <i class="fas fa-arrow-right"></i></a>
        </div>
        {% endfor %}
    </div>

</div>
 {% endblock %}