{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block js %}
<script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element) => {
    element.innerHTML=element.innerText;
  })
</script>
    
{% endblock js %}
{% block blogActive %} active {% endblock blogActive %}
{% block body %}

<div class="container">
  <div class="text-justify">
    <h1 class="jumbotron-heading">Blog Posts</h1>
    <p class="lead text-muted">These are all the blog posts.</p>
  </div>
</div>
<div class="container my-4">
        {% for post in allPosts  %}
        <div class="post mt-4 h-75 bg-light shadow-sm shadow p-3">
          <div class="mb-1 text-primary">{{post.timeStamp}}</div>
          <a href="/blog/{{post.slug}}"><h3 class="text-dark">{{post.title}}</h3></a>
          <p class="lead card-text mb-auto text-secondary preview"><div class="preview">{{post.content|safe| truncatechars:500}}</div></p>
          <hr/>
          <p class="text-dark float-right mr-auto">Author: {{post.author}}</p>
          <a class="btn btn-sm btn-primary" href="/blog/{{post.slug}}" role="button">Read more <i class="bi bi-arrow-right"></i></a>
</div>
        {% endfor %}
{% endblock body %}