{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block js %}
<script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element) => {
    element.innerHTML=element.innerText;
  })
</script>
    
{% endblock js %}
{% block blogActive %} active {% endblock blogActive %}
{% block body %}

<div class="container">
  <div class="text-justify">
    <h1 class="jumbotron-heading">Blog Posts</h1>
    <p class="lead text-muted">These are all the blog posts.</p>
  </div>
</div>
<div class="container my-4">
        {% for post in allPosts  %}
        <div class="post mt-0 h-75 p-3"> 
          <div class="mb-1 text-primary">{{post.timeStamp}} <p class="text-dark">by {{post.author}}</p></div>
          <a href="/blog/{{post.slug}}"><h2 class="text-dark" style="margin-top:-10px;">{{post.title}}</h2></a>
          <p class="lead card-text mb-auto text-secondary preview"><div class="preview">{{post.content|safe| truncatechars:500}}</div></p>
          <a class="btn btn-outline-primary btn-sm" href="/blog/{{post.slug}}" role="button">Read more <i class="bi bi-arrow-right"></i></a>
          <hr/>
</div>
        {% endfor %}
{% endblock body %}

{% comment %} bg-light shadow-sm shadow {% endcomment %}