<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <!--  NavBar Starts  -->
    <nav class="navbar navbar-expand-lg  sticky-top navbar-dark bg-dark p-3">
    <a class="navbar-brand" href="/">🐱‍💻Hackclub.co</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeActive %} {% endblock homeActive %}">
            <a class="nav-link" href="/"><i class="bi bi-house-fill"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block aboutActive %} {% endblock aboutActive %}">
            <a class="nav-link" href="about/"><i class="bi bi-file-person"></i> About</a>
        </li>
        <li class="nav-item {% block blogActive %} {% endblock blogActive %}">
            <a class="nav-link" href="/blog"><i class="fas fa-blog"></i> Blog</a>
        </li>
        <li class="nav-item {% block contactActive %} {% endblock contactActive %}">
            <a class="nav-link" href="/contact"><i class="bi bi-envelope-fill"></i> Contact</a>
        </li>
        </ul>
     
        <!-- Search Bar -->
        <form method="get" class="my-2 form-inline my-lg-0" action="/search">
          <input class="form-control mr-sm-1 pr-5" type="search" name="query" id="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-3 mr-2 my-sm-0" type="submit">Search</button>
          <!-- Log In Form -->
            {% if user.is_authenticated %}
                <ul class="navbar-nav mr-2">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{request.user}}</a>
                <div class="dropdown-menu mr-2" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/logout">Logout</a>

                        </div>
                      </li>
                      </ul>
                      </div>
                {% else %}
              <!-- Button to  trigger Login modal -->
          <button type="button" class="btn btn-success mr-2 ml-2" data-toggle="modal" data-target="#loginModal">
          Login
          </button>
          <!-- Sing Up Form -->
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#singupModal">Sing Up</button>
          {% endif %}
        </form>
    </div>
    </nav>  
    <!--  NavBar Ends  -->
    <!--  Message Alert Starts  -->
     {% for message in messages  %}            
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
            </button>
          </div>
      {% endfor %}      
    <!--  Message Alert Ends  -->
    {% block body %}
      
    {% endblock body %}
    <!-- Footer Starts -->
    <footer class="container my-3">
      <p><i class="far fa-copyright"></i> Hackclub.co 2021-2022</p>
    </footer>
    <!-- Footer Ends -->

  <!-- Sing Up Modal -->
  <div class="modal fade" id="singupModal" tabindex="-1" aria-labelledby="singupModal" aria-hidden="true" action= "/signup" method='post'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="singupModal">🐱‍👤 Sing Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form action= "/signup" method='post'>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter a username" required>
          </div>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" required>
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" required>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
          </div>
          <div class="form-group">
            <label for="pass1">Choose a password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password" required>
          </div>
          <div class="form-group">
            <label for="pass2">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again" required>
          </div>
        

                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- SingIn Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModal">🐱‍💻 Sing In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form form action="login" method="POST">
          {% csrf_token %}
            <div class="form-group">
              <label for="singInInputUsername"><i class="bi bi-person-circle"></i> Username</label>
              <input type="username" class="form-control" id="singInInputUsername" name="singInInputUsername" required>
            </div>
            <div class="form-group">
              <label for="singInInputPassword"><i class="bi bi-lock"></i> Password</label>
              <input type="password" class="form-control" id="singInInputPassword" name="singInInputPassword" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sing In</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first,then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- Font Awsome -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f" crossorigin="anonymous"></script>
  </body>
</html>